In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

## Standard Scaling

In [6]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler

# Dummy dataset
data = {
    'age': [18, 25, 35, 45, 60],
    'height': [160, 170, 175, 180, 165],  # in cm
    'weight': [55, 65, 70, 80, 60]        # in kg
}

df = pd.DataFrame(data)
print("Original Data:")
print(df)

Original Data:
   age  height  weight
0   18     160      55
1   25     170      65
2   35     175      70
3   45     180      80
4   60     165      60

In [3]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
df_scaled = ss.fit_transform(df)
df_scaled = pd.DataFrame(df_scaled, columns=df.columns)

In [4]:
df_scaled

        age    height    weight
0 -1.253328 -1.414214 -1.278724
1 -0.781646  0.000000 -0.116248
2 -0.107813  0.707107  0.464991
3  0.566019  1.414214  1.627467
4  1.576768 -0.707107 -0.697486

## Min Max Scaling

In [10]:
from sklearn.preprocessing import MinMaxScaler
mms = MinMaxScaler()
df_minmax_scaled = mms.fit_transform(df)
df_minmax_scaled = pd.DataFrame(df_minmax_scaled, columns=df.columns)
df_minmax_scaled

        age  height  weight
0  0.000000    0.00     0.0
1  0.166667    0.50     0.4
2  0.404762    0.75     0.6
3  0.642857    1.00     1.0
4  1.000000    0.25     0.2